/*.............................CODE FOR M.Tech/MSR SECTION (of join us page)...............................*/
body {
  font-family: 'Montserrat', sans-serif;
  background-color:white;
  margin: 0;
}

h2 {
  font-size: 1.6em;
  margin-left: 10%;
  margin-top: 30px;
  margin-bottom: 10px;
  text-decoration: underline;
}

h2 u {
  text-decoration: none;
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 3px solid #000000; /* Bold white underline */
}

.M\.Tech_MSR-info p, strong {
  margin-top: 10px;
  margin-left: 10%;
  margin-bottom: 5px;
  margin-right: 12%;
  font-weight: 550;
  font-size: 1.1em;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
}

.M\.Tech_MSR-info a {
  color: blue;
  text-decoration: none;
}

.M\.Tech_MSR-info a:hover {
  text-decoration: underline;
}

.M\.Tech_MSR-info table {
  width: 80%;
  margin-left: 10%;
  border-collapse: collapse;
  margin-top: 20px;
  color: #000000;
}

.M\.Tech_MSR-info table th, 
.M\.Tech_MSR-info table td {
  border: 1px solid #000000;
  padding: 12px;
  text-align: center;
}

.M\.Tech_MSR-info table th {
  background-color: #000000;
}

.M\.Tech_MSR-info table tr:nth-child(even) {
  background-color: #ffffff;
}

.M\.Tech_MSR-info table tr:nth-child(odd) {
  background-color: #ffffff;
}

.footer {
  background-color: #d6eaf8;
  color: #000000;
  text-align: center;
  padding: 10px 0;
}

.container {
  max-width: 800px;
  margin: auto;
}

p[style="font-weight: bolder"] {
  font-size: 1.2em;
  margin-top: 30px;
}

a[target="_blank"] {
  font-weight: bold;
}

.M\.Tech_MSR-info .topmost-heading th {
  background-color: #87CEEB;
} 
