<header>

    <div class="topmost">
        <div class="image">
    <a href="http://home.iitd.ac.in" target="_blank">
      <img class="IITD_LOGO" src="./resources/images/icons/IITD_LOGO.svg" alt="IITD Logo">
    </a>
     </div>
    <div class="text">
    <h1>Industrial Engineering & Operations Research</h1>
    <h2>Mechanical Engineering</h2>
    <h3>Indian Institute of Technology Delhi</h3>
    </div>
    </div>


    <nav class="navbar">
    <button class="menu-toggle" aria-label="Toggle navigation">
        <span class="hamburger"></span>
    </button>
        <ul class="navlist">
            <li class="navitem">
                <div class="dropdown-container">
                    <a href="index.html">
                        <button class="dropdown-button no-dropdown-sign">Home</button>
                    </a>
                </div>
            </li>
            <li class="navitem">
                <div class="dropdown-container">
                    <button class="dropdown-button">People</button>
                    <div class="dropdown-content">
                        <a href="./pages/people/faculty.html">Faculty</a>
                        <a href="./pages/people/collaborating_faculty.html">Collaborating Faculty</a>
                        <a href="./pages/people/research.html">Research Associates</a>
                        <!-- Students Dropdown -->
                        <div class="dropdown-subcontainer">
                            <button class="dropdown-subbutton">Students</button>
                            <div class="dropdown-subcontent">
                                <a href="../../pages/people/m_tech_24.html">M.Tech</a>
                                <a href="../../pages/people/msr.html">M.S.(Research)</a>
                                <a href="../../pages/people/phd.html">Ph.D</a>
                                <!-- <a href="../../pages/people/ug.html">UG Students</a> --> 
                            </div>
                        </div>

                        <!-- Alumni Dropdown -->
                        <div class="dropdown-subcontainer">
                            <button class="dropdown-subbutton" >Alumni</button>
                            <div class="dropdown-subcontent">
                                <a href="../../pages/people/mtech_alumni.html">M.Tech Alumni</a>
                    <!--            <a href="../../pages/people/msr_alumni.html">M.S.(Research) Alumni</a>--> 
                        <!--          <a href="../../pages/people/phd_alumni.html">Ph.D Alumni</a>  --> 
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="navitem">
                <div class="dropdown-container">
                    <button class="dropdown-button">Academics</button>
                    <div class="dropdown-content">
                        <a href="./pages/academics/phd.html">Ph.D.</a>
                        <a href="./pages/academics/mtech.html">M.Tech</a>
                        <a href="./pages/academics/msr.html">M.S. (Research)</a>
                        <a href="./pages/academics/timetable.html">Timetable</a>
                        <a href="./pages/academics/courses.html">Courses</a>
                        <div class="dropdown-subcontainer">
                            <button class="dropdown-subbutton" >Research</button>
                            <div class="dropdown-subcontent">
                                <a href="./pages/academics/research.html">Research Topics</a>
                                <a href="./pages/academics/publications.html">Publications</a>
                                <!-- <a href="./pages/academics/awards.html">Awards</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="navitem">
                <div class="dropdown-container">
                    <a href="./pages/projects/project.html">
                        <button class="dropdown-button no-dropdown-sign">Projects</button>
                    </a>
                </div>
            </li>
           
            <!-- <li class="navitem">
                <div class="dropdown-container">
                    <button class="dropdown-button">Resources</button>
                    <div class="dropdown-content">
                        <a href="./pages/computeResources/atreyee.html">Computational</a>
                    </div>
                </div>
            </li> -->

            <li class="navitem">
                <div class="dropdown-container">
                    <button class="dropdown-button">Join Us</button>
                    <div class="dropdown-content">
                        <a href="./pages/joinus/phdadmissions.html">Ph.D.</a>
                        <a href="./pages/joinus/mtechadmissions.html">M.Tech/MS(R)</a>
                        <a href="./pages/joinus/faculty.html">Faculty</a>
                        <a href="./pages/joinus/postdoc.html">PostDoc</a>
                        <a href="./pages/joinus/staff.html">Staff</a>
                    </div>
                </div>
            </li>
            <li class="navitem">
                <div class="dropdown-container">
                    <a href="./pages/newsevents/news.html">
                        <button class="dropdown-button no-dropdown-sign">News & Events</button>
                    </a>
                </div>
            </li>
            <li class="navitem">
                <div class="dropdown-container">
                    <a href="./pages/contactus/contactus.html">
                        <button class="dropdown-button no-dropdown-sign">Contact Us</button>
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <script src="./resources/scripts/herochange.js"></script>
</header>
